/* Set all box-sizing to border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Set font to Raleway */

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* Header styles */

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 27px;
  font-weight: 300;
  line-height: 35px;
}

h3 {
  font-weight: 400;
  font-size: 22px;
}

hr {
  background: #777;
  border: none;
  height: 1px;
  margin: 50px 0;
}

nav {
  text-align: center;
  font-size: 19px;
}

nav .active {
  font-size: 21px;
  font-weight: 600;
}

.header {
  width: 700px;
  height: 120px;
  margin: 50px auto 30px;
}

.header * {
  float: left;
}

.header-left, .header-right {
  width: 290px;
}

.header-left {
  text-align: right;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 15px;
}

.header-right {
  text-align: left;
  text-transform: lowercase;
  padding-top: 20px;
  padding-left: 15px;
}

.header-img {
  height: 100%;
  border-radius: 50%;
}

.kaimo-page {
  text-align: center;
  margin-top: 40px;
}

.kaimo-page h1 {
  color: #8EBA32;
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
}

.kaimo-page h1, .kaimo-page h2 {
  margin: 20px 40px;
}

.kaimo-page h3 {
  margin-top: 30px;
}

.kaimo-logo {
  width: 80px;
  height: 80px;
}

.kaimo-link {
  color: #1576E4;
  text-decoration: none;
  font-size: 24px;
}

.kaimo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.kaimo-gallery img {
  margin: 10px;
  cursor: pointer;
}

.kaimo-gallery img:hover {
  opacity: 0.8;
}

.kaimo-gallery.web img {
  width: 300px;
}

.kaimo-gallery.mobile img {
  width: 200px;
}
