@import '../../styles/variables';

.root {
  background-color: $color-light-blue;
  z-index: -1;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImage {
  width: 403px;
  height: 460px;
  background-image: url('../../images/profile.png');
  background-size: cover;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 26px;
}

.titles {
  margin-left: 50px;
}

.socialLinks {
  display: flex;
  align-items: center;
}

.socialLink {
  margin-left: 7px;
  margin-right: 7px;
  color: $color-white;

  &:hover {
    color: $color-white-hover;
  }
}

@media only screen and (max-width: 800px) {
  .inner {
    flex-direction: column;
  }

  .titles {
    margin-left: 0;
    text-align: center;
  }
}

@media only screen and (max-height: 600px), screen and (max-width: 450px) {
  .profileImage {
    width: 242px;
    height: 276px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-height: 480px) {
  .profileImage {
    width: 161px;
    height: 184px;
    padding-bottom: 14px;
  }
}
