@import '../../styles/variables';

.root {
  background: linear-gradient(
    $color-medium-blue,
    lighten($color-medium-blue, 40%)
  );
}

.laptopContainer {
  width: 968px;
  height: 531px;
  background-image: url('../../images/laptop.svg');
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.screenshot {
  position: absolute;
  top: 6%;
  bottom: 8%;
  left: 12%;
  right: 12%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s;

  &.visible,
  &:first-child {
    opacity: 1;
  }
}
