$color-white: #ffffff;
$color-light-blue: #68aeff;
$color-medium-blue: #2e7cd8;
$color-dark-blue: #005cc8;

:export {
  colorWhite: $color-white;
  colorLightBlue: $color-light-blue;
  colorMediumBlue: $color-medium-blue;
  colorDarkBlue: $color-dark-blue;
}
