@use './theme';

html {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  color: theme.$color-dark-blue;

  @media (min-width: theme.$breakpoint-md) {
    background-color: theme.$color-bg;
  }

  &.afterWelcomeAnimation {
    background-color: theme.$color-bg;
  }
}

.mailtoui-no-scroll {
  // MailtoUI doesn't play nicely with ScrollTrigger pinning by default -
  // this makes it work better
  position: initial;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;

  @media (min-width: theme.$breakpoint-sm) {
    font-size: 1.75rem;
  }
}

a {
  color: theme.$color-bright-blue;
}
