@import '../styles/variables';

.root {
  padding: 30px;
  min-height: 100vh;
  color: $color-white;
  background-color: $color-medium-blue;
  text-align: center;

  a {
    color: $color-white;
  }
}
