@import '../styles/variables';

$screenshot-width: 290;
$screenshot-height: 570;

.title {
  margin-bottom: 80px;
}

.text {
  width: 650px;
}

.spacer {
  width: 100px;
}

.screenshotsOuter {
  width: $screenshot-width + 0px;
  height: $screenshot-height + 0px;
  display: flex;
  overflow: scroll;
  flex: none;
}

.screenshotsInner {
  display: flex;
  position: relative;
  transition: left 0.5s;

  &.showItem0 {
    left: 0;
  }
  &.showItem1 {
    left: -1px * $screenshot-width;
  }
  &.showItem2 {
    left: -2px * $screenshot-width;
  }
  &.showItem3 {
    left: -3px * $screenshot-width;
  }
  &.showItem4 {
    left: -4px * $screenshot-width;
  }
}

.screenshot {
  width: $screenshot-width + 0px;
  height: $screenshot-height + 0px;
  flex: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.paragraph {
  opacity: 0;
  transition: opacity 0.5s;

  &.visible {
    opacity: 1;
  }
}
