.root {
  /* `!important` needed to override ScrollMagic setting fixed width.
   * See https://github.com/janpaepke/ScrollMagic/issues/312. */
  width: 100% !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}
